<template>
  <div class="wrapper">
    <div class="wrapper-title">
      <h2>To do:</h2>
    </div>
    <template v-if="todoItems && todoItems.length">
      <todo-list :items="needToDoItems" />
      <hr class="hr">
      <todo-list :items="doneTodoItems" />
    </template>
    <template v-else>
      <h4 class="error-message">Please, add some tasks</h4>
    </template>
    <add-item @add-item="addTodoItem" />
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import TodoList from '@/components/TodoList'
import AddItem from '@/components/AddItem'

export default {
  components: {
    TodoList,
    AddItem
  },
  computed: {
    ...mapState(['todoItems']),
    needToDoItems() {
      return this.todoItems.filter(item => {
        return item.done === false
      })
    },
    doneTodoItems() {
      return this.todoItems.filter(item => {
        return item.done === true
      })
    }
  },
  methods: {
    ...mapActions(['addTodoItem']),
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  max-width: 20rem;
  margin: 0 auto;
  &-title {
    text-align: left;
  }
}
.error-message {
  text-align: left;
}
</style>
