<template>
  <div class="add-item">
    <div class="text-field">
      <label for="task">Task</label>
      <input 
        placeholder="What do you nedd to do?"
        type="text" 
        v-model="task"
        class="input"
        id="task"
      >
    </div>
    <button 
      class="add"
      @click="add"
    >Save Item</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      task: ''
    }
  },
  methods: {
    add() {
      this.$emit('add-item', this.task)
      this.clearTask()
    },
    clearTask() {
      this.task = ''
    }
  }
}
</script>

<style lang="scss" scoped>
.add-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}
.text-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}
.input {
  padding: .2rem .5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.add {
  background: #307BB9;
  color: #fff;
  width: 5rem;
  padding: .5rem 0;
}
</style>
