<template>
  <div class="todo-list">
    <template v-for="item in items">
      <todo-item 
        :id="item.id"
        :key="item.id"
        :done="item.done"
        @done-item="checkTodoItem"
        @delete-item="deleteTodoItem"
      >
        {{item.title}}
      </todo-item>
    </template>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import TodoItem from './TodoItem'
export default {
  components: {
    TodoItem
  },
  props: {
    items: Array
  },
  methods: {
    ...mapActions([
      'deleteTodoItem',
      'checkTodoItem'
    ]),
  }
}
</script>

<style lang="scss" scoped>
.todo-list{
  margin: 1rem 0;
}
</style>
