<template>
  <div class="todo-item">
    <div class="todo-title">
      <slot></slot>
    </div>
    <div class="todo-actions">
      <template v-if="!done">
        <button 
          class="icon done"
          @click="doneItem"
        >
          <img src="@/assets/icons/check.svg" alt="">
        </button>
      </template>
      <button 
        class="icon delete"
        @click="deleteItem"
      >
        <img src="@/assets/icons/delete.svg" alt="">
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: Number,
    done: Boolean,
  },
  methods: {
    doneItem() {
      this.$emit("done-item", this.id)
    },
    deleteItem() {
      this.$emit('delete-item', this.id)
    }
  }

}
</script>

<style lang="scss" scoped>
.todo-item {
  display: flex;
  justify-content: space-between;
  width: 100%;

  background: #fff;
  padding: .5rem .7rem;
}

.todo-title {
  display: flex;
  align-items: center;
}

.icon{
  width: 1.5rem;
  height: 1.5rem;
  img {
    width: 100%;
    height: 100%;
  }
  &.done {
    background: #59B85A;
  }
  &.delete {
    background: #DA4D49;
  }
}
</style>
