<template>
  <div id="app">
    <home></home>
  </div>
</template>

<script>
import Home from '@/pages/Home.vue'

export default {
  name: 'app',
  components: {
    Home
  }
}
</script>

<style lang="scss">
* {
  box-sizing: border-box;
}
body {
  background: #F5F5F5;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

button{
  width: 4rem;
  margin: .2rem;
  &:last-child {
    margin: 0;
  }
  border: 0;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
  }
}
</style>
